/*--------------------------------------
 * LAYOUT
---------------------------------------*/

.menu-left, .menu-right {
	display: none;
	position: absolute;
	top: 0;
	height: 100%;
}

.btn-left {
	float: left;
}

.btn-right {
	float: right;
}

.main-content {
	position: relative;

	p {
		clear: both;
	}
}